$--namespace: "te";
// $--sm: 500px;

@import "../src/coordx";
@import "../src/comm";
@import "../src/hidden";

@include b(demo) {
  display: flex;

  @include arrow(top, #000, px2vw(20));

  @include e(inner) {
    margin-right: px2vw(75);

    @include m(sccuess) {
      color: green;
    }
  }

  @include when(disabled) {
    cursor: not-allowed;
  }
}

.demo2 {
  @include extend-rule(pointer);
  @include extend-rule(clear);
}

.demo3 {
  @include extend-rule(pointer);
  @include extend-rule(clear);
}
