@import "config";

@function merge() {
  $breaklist: ();

  $breaklist: map-merge($breaklist, $--res-breakpoints);
  $breaklist: map-merge($breaklist, $--res-breakpoints-spec);
  $breaklist: map-merge($breaklist, $--res-breakpoints-orientation);

  @return $breaklist;
}

@mixin res($key, $map: merge()) {
  @if map-has-key($map, $key) {
    @media only screen and (#{map-get($map, $key)}) {
      @content;
    }
  } @else {
    @warn "Undefeined points: `#{$map}`, `#{$key}`";
  }
}

@mixin resl($style-map, $list, $map: merge()) {
  @each $bkpoint, $value in $style-map {
    @include res($bkpoint, $map) {
      @for $i from 1 through length($value) {
        #{nth($list, $i)}: #{nth($value, $i)};
      }
    }
  }
}
