@import "../var/config.scss";

@function selectorToString($selector) {
  $selector: inspect($selector);
  $selector: str-slice($selector, 2, -2);
  @return $selector;
}

// 包含 $--modifier-separator (默认：--)
@function containModifier($selector) {
  $selector: selectorToString($selector);

  @if str-index($selector, $--modifier-separator) {
    @return true;
  } @else {
    @return false;
  }
}

// 包含 $--state-prefix (默认：is-)
@function containWhenFlag($selector) {
  $selector: selectorToString($selector);

  @if str-index($selector, "." + $--state-prefix) {
    @return true;
  } @else {
    @return false;
  }
}

// 包含 :
@function containPseudoClass($selector) {
  $selector: selectorToString($selector);

  @if str-index($selector, ":") {
    @return true;
  } @else {
    @return false;
  }
}

// 判断以上所有情况
@function hitAllSpecialNestRule($selector) {
  @return containModifier($selector) or containWhenFlag($selector) or containPseudoClass($selector);
}
