@mixin absolute-middle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin inline-flex-middle {
  display: inline-flex;
  align-items: center;
}

@mixin pseudo-vertical-middle {
  $sel: &;

  @at-root {
    #{$sel}::after {
      content: "";
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
  }
}
