@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin circle($size, $color: transparent) {
  background: $color;
  border-radius: 50%;

  @include size($size);
}

// 生成一个三角箭头，父级元素的 position 不能为 static
@mixin arrow($direc, $color: transparent, $size: 8px) {
  &::before {
    content: "";
    position: absolute;
    border-color: transparent;
    border-style: solid;
    border-width: $size;

    border-#{$direc}-style: none;
    border-#{$direc}-width: 0;
    @if ($direc == top) {
      border-bottom-color: $color;
    } @else if($direc == bottom) {
      border-top-color: $color;
    } @else if($direc == left) {
      border-right-color: $color;
    } @else if($direc == right) {
      border-left-color: $color;
    } @else {
      @warn "Undefeined direction: `#{$direc}`";
    }

    @include size(0);

    @content;
  }
}
